<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-info-sign"></h4><br/>Basic Info
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-eye-open"></h4><br/>Objective
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-book"></h4><br/>Academics
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-folder-open"></h4><br/>Projects
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-pencil"></h4><br/>Skills
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    
                      <h1 class="glyphicon glyphicon-info-sign" style="font-size:3em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Basic Info</h2>
                      <h3 style="margin-top: 0;color:#55518a">
                        
                          <app-basic></app-basic>

                      </h3>
                    
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    
                      <h1 class="glyphicon glyphicon-eye-open" style="font-size:3em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Career Objective</h2>
                      <h3 style="margin-top: 0;color:#55518a">
                        <app-careerobjective></app-careerobjective>
                      </h3>
                    
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    
                      <h1 class="glyphicon glyphicon-book" style="font-size:3em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Academics</h2>
                      <h3 style="margin-top: 0;color:#55518a">
                        <app-academics></app-academics>
                      </h3>
                    
                </div>
                <div class="bhoechie-tab-content">
                    
                      <h1 class="glyphicon glyphicon-folder-open" style="font-size:3em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Projects Undertaken</h2>
                      <h3 style="margin-top: 0;color:#55518a">
                        <app-projectsundertaken></app-projectsundertaken>
                      </h3>
                    
                </div>
                <div class="bhoechie-tab-content">
                    
                      <h1 class="glyphicon glyphicon-pencil" style="font-size:3em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Skills</h2>
                      <h3 style="margin-top: 0;color:#55518a">
                        <app-skills></app-skills>
                      </h3>
                    
                </div>

                <div class="bhoechie-tab-content">
                    
                    <h1 class="glyphicon glyphicon-pencil" style="font-size:3em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Skills</h2>
                    <h3 style="margin-top: 0;color:#55518a">
                      <app-skills></app-skills>
                    </h3>
                  
              </div>
            </div>
        </div>
  </div>
</div>

